/*

		Global Pageflip Styles
		
*/
#pageflip {
	width: 100%;
	background-image: url(../../images/bg.jpg);
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	height:100%;
	background-position: center center;
	background-color: #6ccaf6;
}
#pf-pagerin {
	font-family: "Fauna One", "Lucida Grande", Helvetica, sans-serif;
}
#pf-stage {
}

/*
	
		Container HTML Page Styles
		
*/
body, html{
	margin: 0;
	height:100%;
}